.display-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-left {
    justify-content: left;
}

.justify-content-space-between,
.space-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.flex-direction-column {
    flex-direction: column;
}

.selected {
    background-color: rgb(38, 128, 235)
}

.border-radius-8 {
    border-radius: 8px;
}

.h-100vh {
    height: 100vh;
}

.h-100 {
    height: 100%;
}

.w-100 {
    width: 100%;
}

.w-200 {
    width: 200px;
}

.min-w-150 {
    min-width: 150px;
}

.flex1 {
    flex: 1;
}

.mx-3 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}

.cursor-pointer {
    cursor: pointer;
}

.border {
    border: 1px solid white;
}

.top-0 {
    top: 0;
}

.z-10 {
    z-index: 10;
}

.z-100 {
    z-index: 100;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.gap-2 {
    gap: 0.5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-auto {
    overflow: auto;
}

.overflow-x-auto {
    overflow-x: auto;
}

.overflow-y-auto {
    overflow-y: auto;
}

.bg-orange {
    background-color: var(--color-avatar-orange) !important;
}

.bg-blue {
    background-color: var(--color-avatar-blue) !important;
}

.bg-cyan {
    background-color: var(--color-avatar-cyan) !important;
}

.bg-pink {
    background-color: var(--color-avatar-pink) !important;
}

.bg-purple {
    background-color: var(--color-avatar-purple) !important;
}

.bg-green {
    background-color: var(--color-success) !important;
}

.bg-lime {
    background-color: var(--color-avatar-lime) !important;
}

.bg-gray {
    background-color: var(--color-gray-500) !important;
}

.color-white {
    color: var(--color-white) !important;
}

.font-weight-700 {
    font-weight: 700;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

.fs-24 {
    font-size: 24px;
}
.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.border-none {
    border: none !important;
}